.custom-block {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;

  &.info {
    border-color: var(--c-container-info-border);
    color: var(--c-container-info-text);
    background-color: var(--c-container-info-bg);
  }

  &.tip {
    border-color: var(--c-container-tip-border);
    color: var(--c-container-tip-text);
    background-color: var(--c-container-tip-bg);
  }

  &.warning {
    border-color: var(--c-container-warning-border);
    color: var(--c-container-warning-text);
    background-color: var(--c-container-warning-bg);
  }

  &.danger {
    border-color: var(--c-container-danger-border);
    color: var(--c-container-danger-text);
    background-color: var(--c-container-danger-bg);
  }


  &.details {
    border-color: var(--c-container-details-border);
    color: var(--c-container-details-text);
    background-color: var(--c-container-details-bg);
  }


  .custom-block-title {
    font-weight: 700;
    margin: 0;
  }

  p + p {
    margin: 8px 0;
  }

  &.details summary {
    font-weight: 700;
  }

  &.details summary + p {
    margin: 8px 0;
  }

  a {
    color: inherit;
    font-weight: 600;
    // text-decoration: underline;
    transition: opacity 0.25s;
  }

  a:hover {
    opacity: 0.6;
  }
}
