.custom-block {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  margin: 0 0 1.5rem;

  > .custom-block-title {
    font-weight: 700;
    margin: 0;
  }

  &.info {
    border-color: var(--sika-container-info-border);
    color: var(--sika-container-info-text);
    background-color: var(--sika-container-info-bg);
  }

  &.tip {
    border-color: var(--sika-container-tip-border);
    color: var(--sika-container-tip-text);
    background-color: var(--sika-container-tip-bg);
  }

  &.warning {
    border-color: var(--sika-container-warning-border);
    color: var(--sika-container-warning-text);
    background-color: var(--sika-container-warning-bg);
  }

  &.danger {
    border-color: var(--sika-container-danger-border);
    color: var(--sika-container-danger-text);
    background-color: var(--sika-container-danger-bg);
  }

  &.details {
    border-color: var(--sika-container-details-border);
    color: var(--sika-container-details-text);
    background-color: var(--sika-container-details-bg);
    padding: 8px 16px;

    summary {
      cursor: pointer;
      font-weight: 700;
      margin: 8px 0;
    }
  }

  p + p {
    margin: 8px 0;
  }

  a {
    color: inherit;
    font-weight: 600;
  }

  a:hover {
    opacity: 0.6;
  }
}
