@font-face
  font-family: 'FiraCode'
  src: url(/font/FiraCode-Retina.ttf) format('truetype'), url(/font/FiraCode-Regular.woff2) format('woff2'), url(/font/FiraCode-Regular.ttf) format('truetype')
  font-weight: normal
  font-style: normal