@import "variables";

:root {
  color-scheme: light dark;
  background-color: var(--sika-c-page-bg);
  color: var(--sika-c-page);
  line-height: 1.4rem;
  font-size: 16px;
  // https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-smooth
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-smoothing: auto;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

a {
  &[target="_blank"] {
    &:link, &:visited {
      text-decoration: none;
      color: var(--sika-c-link);
    }

    &:hover {
      color: $brandColor;
      opacity: 1;
    }
  }
}

#nprogress {
  pointer-events: none;

  .bar {
    background: rgb(13, 148, 136);
    opacity: 0.75;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

body {
  // margin: 0
  min-width: 320px;
  min-height: 100vh;
  // line-height: 24px
  // font-size: 16px;
  // font-weight: 400;
  // color: $vp-c-text-1;
  // background-color: $vp-c-bg;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: 600;
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action`
 * CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on
 * touch devices and IE Mobile 10-11 DON'T remove the click delay when
 * `<meta name="viewport" content="width=device-width">` is present.
 * However, they DO support removing the click delay via
 * `touch-action: manipulation`.
 *
 * See:
 * - http://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
 * - http://caniuse.com/#feat=css-touch-action
 * - http://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.katex-display {
  overflow: auto;
}

// side anchor
.is-fixed {
  position: fixed;
  margin-top: 2rem;
  top: var(--sika-h-page-header);
}

.is-abs {
  // position: absolute;
  // top: var(--sika-h-post-header);
  margin-top: 1.5rem;
}

.left-aside {
  display: none;

  margin: 1.5rem 1rem 1rem 0;
  overflow-y: auto;
  flex-basis: 14rem;
  width: 14rem;
  flex-shrink: 0;
}

@media (min-width: 1280px) {
  .left-aside {
    display: block;
  }
}

.right-aside {
  display: none;
  position: relative;
  margin: 1.5rem 1rem 1rem 0;
  overflow-y: auto;
  flex-basis: 14rem;
  width: 14rem;
  flex-shrink: 0;
}

@media (min-width: 1024px) {
  .right-aside {
    display: block;
  }
}
