@import "./variables.scss";
// .prose{
//   max-width: none;
//   :where(a):not(:where(.not-prose,.not-prose *)){
//     text-decoration: inherit;
//   }
// }

// .prose img {
//   width: 100%;
// }

.shiki-light {
  background: #f8f8f8 !important;
}

.shiki-dark {
  background: #0e0e0e !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.md-doc {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  word-wrap: break-word;

  // shiki render `pre > code.language-* > div.shiki-container > pre`
  pre:not(.shiki) {
    padding: 0;
  }

  .shiki {
    font-family: "Fira Code", monospace;
    font-size: 1.2em;
    line-height: 1.4;
  }

  a {
    text-decoration: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;

    td,
    th {
      padding: 0;
      padding: 6px 13px;
      border: 1px solid var(--c-border);
    }

    tr {
      background-color: var(--c-bg);
      border-top: 1px solid var(--c-border);
    }

    tr:nth-child(2n) {
      background-color: var(--c-bg2);
    }
  }

  .header-anchor {
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    font-weight: 500;
    opacity: 0;
    color: var(--c-main-color);
    transition: color 0.25s, opacity 0.25s;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .header-anchor,
    .header-anchor:focus {
      opacity: 1;
    }
  }

  // highlight lines
  .highlighted-line {
    background-color: var(--c-container-details-bg);
    display: block;
    margin: 0 -1.575rem;
    padding: 0 1.575rem;
  }
}

// pre,
// pre[class*="language-"] {
//   padding: 1.575rem;
//   white-space: pre-wrap;
//   word-break: break-word;
//   margin: 30px 0;
//   color: white;
//   overflow: auto;
// }



// /* code scroll bar */
// code[class*="language-"] {
//   scrollbar-color: gray rgba(0, 0, 0, 0);
//   scrollbar-width: 0.5rem;
// }

// code[class*="language-"]::-webkit-scrollbar {
//   height: 0.4rem;
// }

// code[class*="language-"]::-webkit-scrollbar-thumb {
//   background-color: gray;
//   border-radius: 3px;
// }

// code[class*="language-"]::-webkit-scrollbar-thumb:hover {
//   background: gray;
// }

// /* line-numbers */
// code .line-numbers-wrapper {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 3;
//   border-right: 1px solid dark;
//   padding-top: 16px;
//   width: 32px;
//   text-align: center;
//   font-family: "Fira Code", monospace;;
//   line-height: 1.2rem;
//   font-size: 1.5rem;
//   color: #475569;
//   transition: border-color 0.5s, color 0.5s;
// }

// .md-doc div[class*="language-"].line-numbers-mode {
//   padding-left: 32px;
// }

// /* code lang */
// .md-doc [class*="language-"] span.lang {
//   position: absolute;
//   top: 6px;
//   right: 12px;
//   z-index: 2;
//   font-size: 12px;
//   font-weight: 500;
//   // color: var(--vp-c-text-dark-3);
//   transition: color 0.4s, opacity 0.4s;
// }

// .md-doc [class*="language-"] button.copy {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   z-index: 3;
//   display: block;
//   justify-content: center;
//   align-items: center;
//   border-radius: 4px;
//   width: 40px;
//   height: 40px;
//   // background-color: var(--vp-code-block-bg);
//   opacity: 0;
//   cursor: pointer;
//   // background-image: var(--vp-icon-copy);
//   background-position: 50%;
//   background-size: 20px;
//   background-repeat: no-repeat;
//   transition: opacity 0.4s;
// }

// .md-doc [class*="language-"]:hover > button.copy,
// .md-doc [class*="language-"] > button.copy:focus {
//   opacity: 1;
// }

// .md-doc [class*="language-"] > button.copy:hover {
//   // background-color: var(--vp-code-copy-code-hover-bg);
// }

// /* copycode button */
// .md-doc [class*="language-"] > button.copy.copied,
// .md-doc [class*="language-"] > button.copy:hover.copied {
//   border-radius: 0 4px 4px 0;
//   // background-color: var(--vp-code-copy-code-hover-bg);
//   // background-image: var(--vp-icon-copied);
// }

// .md-doc [class*="language-"] > button.copy.copied::before,
// .md-doc [class*="language-"] > button.copy:hover.copied::before {
//   position: relative;
//   left: -65px;
//   display: block;
//   border-radius: 4px 0 0 4px;
//   padding-top: 8px;
//   width: 64px;
//   height: 40px;
//   text-align: center;
//   font-size: 12px;
//   font-weight: 500;
//   // color: var(--vp-code-copy-code-active-text);
//   // background-color: var(--vp-code-copy-code-hover-bg);
//   white-space: nowrap;
//   content: "Copied";
// }

// .md-doc [class*="language-"]:hover > button.copy + span.lang,
// .md-doc [class*="language-"] > button.copy:focus + span.lang {
//   opacity: 0;
// }

// // code
// .md-doc :not(pre) > code {
//   border-radius: 4px;
//   padding: 3px 6px;
//   // color: var(--vp-c-text-code);
//   // background-color: var(--vp-c-bg-mute);
//   transition: color 0.5s, background-color 0.5s;
// }

// github

// .md-doc hr {
//   height: 0;
//   margin: 15px 0;
//   overflow: hidden;
//   background: transparent;
//   border: 0;
//   border-bottom: 1px solid #ddd;
// }

// .md-doc hr:before {
//   display: table;
//   content: "";
// }

// .md-doc hr:after {
//   display: table;
//   clear: both;
//   content: "";
// }

// .md-doc h1,
// .md-doc h2,
// .md-doc h3,
// .md-doc h4,
// .md-doc h5,
// .md-doc h6 {
//   margin-top: 15px;
//   margin-bottom: 15px;
//   line-height: 1.1;
// }

// .md-doc blockquote {
//   margin: 0;
// }

// .md-doc ul,
// .md-doc ol {
//   padding: 0;
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .md-doc ol ol,
// .md-doc ul ol {
//   list-style-type: lower-roman;
// }

// .md-doc ul ul ol,
// .md-doc ul ol ol,
// .md-doc ol ul ol,
// .md-doc ol ol ol {
//   list-style-type: lower-alpha;
// }

// .md-doc dd {
//   margin-left: 0;
// }

// .md-doc code {
//   font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
//   font-size: 12px;
// }

// .md-doc pre {
//   margin-top: 0;
//   margin-bottom: 0;
//   font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
// }

// .md-doc .select::-ms-expand {
//   opacity: 0;
// }

// .md-doc .octicon {
//   font: normal normal normal 16px/1 octicons-link;
//   display: inline-block;
//   text-decoration: none;
//   text-rendering: auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// .md-doc .octicon-link:before {
//   content: "\f05c";
// }

// .md-doc:before {
//   display: table;
//   content: "";
// }

// .md-doc:after {
//   display: table;
//   clear: both;
//   content: "";
// }

// .md-doc > *:first-child {
//   margin-top: 0 !important;
// }

// .md-doc > *:last-child {
//   margin-bottom: 0 !important;
// }

// .md-doc a:not([href]) {
//   color: inherit;
//   text-decoration: none;
// }

// .md-doc .anchor {
//   display: inline-block;
//   padding-right: 2px;
//   margin-left: -18px;
// }

// .md-doc .anchor:focus {
//   outline: none;
// }

// .md-doc h1,
// .md-doc h2,
// .md-doc h3,
// .md-doc h4,
// .md-doc h5,
// .md-doc h6 {
//   margin-top: 1em;
//   margin-bottom: 16px;
//   font-weight: bold;
//   line-height: 1.4;
// }

// .md-doc h1 .octicon-link,
// .md-doc h2 .octicon-link,
// .md-doc h3 .octicon-link,
// .md-doc h4 .octicon-link,
// .md-doc h5 .octicon-link,
// .md-doc h6 .octicon-link {
//   color: #000;
//   vertical-align: middle;
//   visibility: hidden;
// }

// .md-doc h1:hover .anchor,
// .md-doc h2:hover .anchor,
// .md-doc h3:hover .anchor,
// .md-doc h4:hover .anchor,
// .md-doc h5:hover .anchor,
// .md-doc h6:hover .anchor {
//   text-decoration: none;
// }

// .md-doc h1:hover .anchor .octicon-link,
// .md-doc h2:hover .anchor .octicon-link,
// .md-doc h3:hover .anchor .octicon-link,
// .md-doc h4:hover .anchor .octicon-link,
// .md-doc h5:hover .anchor .octicon-link,
// .md-doc h6:hover .anchor .octicon-link {
//   visibility: visible;
// }

// .md-doc h1 {
//   padding-bottom: 0.3em;
//   font-size: 2.25em;
//   line-height: 1.2;
//   border-bottom: 1px solid #eee;
// }

// .md-doc h1 .anchor {
//   line-height: 1;
// }

// .md-doc h2 {
//   padding-bottom: 0.3em;
//   font-size: 1.75em;
//   line-height: 1.225;
//   border-bottom: 1px solid #eee;
// }

// .md-doc h2 .anchor {
//   line-height: 1;
// }

// .md-doc h3 {
//   font-size: 1.5em;
//   line-height: 1.43;
// }

// .md-doc h3 .anchor {
//   line-height: 1.2;
// }

// .md-doc h4 {
//   font-size: 1.25em;
// }

// .md-doc h4 .anchor {
//   line-height: 1.2;
// }

// .md-doc h5 {
//   font-size: 1em;
// }

// .md-doc h5 .anchor {
//   line-height: 1.1;
// }

// .md-doc h6 {
//   font-size: 1em;
//   color: #777;
// }

// .md-doc h6 .anchor {
//   line-height: 1.1;
// }

// .md-doc p,
// .md-doc blockquote,
// .md-doc ul,
// .md-doc ol,
// .md-doc dl,
// .md-doc table,
// .md-doc pre {
//   margin-top: 0;
//   margin-bottom: 16px;
// }

// .md-doc hr {
//   height: 4px;
//   padding: 0;
//   margin: 16px 0;
//   background-color: #e7e7e7;
//   border: 0 none;
// }

// .md-doc ul,
// .md-doc ol {
//   padding-left: 2em;
// }

// .md-doc ul ul,
// .md-doc ul ol,
// .md-doc ol ol,
// .md-doc ol ul {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .md-doc li > p {
//   margin-top: 16px;
// }

// .md-doc dl {
//   padding: 0;
// }

// .md-doc dl dt {
//   padding: 0;
//   margin-top: 16px;
//   font-size: 1em;
//   font-style: italic;
//   font-weight: bold;
// }

// .md-doc dl dd {
//   padding: 0 16px;
//   margin-bottom: 16px;
// }

// .md-doc blockquote {
//   padding: 0 15px;
//   color: #777;
//   border-left: 4px solid #ddd;
// }

// .md-doc blockquote > :first-child {
//   margin-top: 0;
// }

// .md-doc blockquote > :last-child {
//   margin-bottom: 0;
// }

// .md-doc table {
//   display: block;
//   width: 100%;
//   overflow: auto;
//   word-break: normal;
//   word-break: keep-all;
// }

// .md-doc table th {
//   font-weight: bold;
// }

// .md-doc table tr {
//   background-color: #fff;
//   border-top: 1px solid #ccc;
// }

// .md-doc table tr:nth-child(2n) {
//   background-color: #f8f8f8;
// }

// .md-doc img {
//   max-width: 100%;
//   box-sizing: content-box;
//   background-color: #fff;
// }

// .md-doc code {
//   padding: 0;
//   padding-top: 0.2em;
//   padding-bottom: 0.2em;
//   margin: 0;
//   font-size: 85%;
//   background-color: rgba(0, 0, 0, 0.04);
//   border-radius: 3px;
// }

// .md-doc code:before,
// .md-doc code:after {
//   letter-spacing: -0.2em;
//   content: "\00a0";
// }

// .md-doc pre > code {
//   padding: 0;
//   margin: 0;
//   font-size: 100%;
//   word-break: normal;
//   white-space: pre;
//   background: transparent;
//   border: 0;
// }

// .md-doc .highlight {
//   margin-bottom: 16px;
// }

// .md-doc .highlight pre,
// .md-doc pre {
//   padding: 16px;
//   overflow: auto;
//   font-size: 85%;
//   line-height: 1.45;
//   background-color: #f7f7f7;
//   border-radius: 3px;
// }

// .md-doc .highlight pre {
//   margin-bottom: 0;
//   word-break: normal;
// }

// .md-doc pre {
//   word-wrap: normal;
// }

// .md-doc pre code {
//   display: inline;
//   max-width: initial;
//   padding: 0;
//   margin: 0;
//   overflow: initial;
//   line-height: inherit;
//   word-wrap: normal;
//   background-color: transparent;
//   border: 0;
// }

// .md-doc pre code:before,
// .md-doc pre code:after {
//   content: normal;
// }

// .md-doc kbd {
//   display: inline-block;
//   padding: 3px 5px;
//   font-size: 11px;
//   line-height: 10px;
//   color: #555;
//   vertical-align: middle;
//   background-color: #fcfcfc;
//   border: solid 1px #ccc;
//   border-bottom-color: #bbb;
//   border-radius: 3px;
//   box-shadow: inset 0 -1px 0 #bbb;
// }

// .md-doc .pl-c {
//   color: #969896;
// }

// .md-doc .pl-c1,
// .md-doc .pl-s .pl-v {
//   color: #0086b3;
// }

// .md-doc .pl-e,
// .md-doc .pl-en {
//   color: #795da3;
// }

// .md-doc .pl-s .pl-s1,
// .md-doc .pl-smi {
//   color: #333;
// }

// .md-doc .pl-ent {
//   color: #63a35c;
// }

// .md-doc .pl-k {
//   color: #a71d5d;
// }

// .md-doc .pl-pds,
// .md-doc .pl-s,
// .md-doc .pl-s .pl-pse .pl-s1,
// .md-doc .pl-sr,
// .md-doc .pl-sr .pl-cce,
// .md-doc .pl-sr .pl-sra,
// .md-doc .pl-sr .pl-sre {
//   color: #183691;
// }

// .md-doc .pl-v {
//   color: #ed6a43;
// }

// .md-doc .pl-id {
//   color: #b52a1d;
// }

// .md-doc .pl-ii {
//   background-color: #b52a1d;
//   color: #f8f8f8;
// }

// .md-doc .pl-sr .pl-cce {
//   color: #63a35c;
//   font-weight: bold;
// }

// .md-doc .pl-ml {
//   color: #693a17;
// }

// .md-doc .pl-mh,
// .md-doc .pl-mh .pl-en,
// .md-doc .pl-ms {
//   color: #1d3e81;
//   font-weight: bold;
// }

// .md-doc .pl-mq {
//   color: #008080;
// }

// .md-doc .pl-mi {
//   color: #333;
//   font-style: italic;
// }

// .md-doc .pl-mb {
//   color: #333;
//   font-weight: bold;
// }

// .md-doc .pl-md {
//   background-color: #ffecec;
//   color: #bd2c00;
// }

// .md-doc .pl-mi1 {
//   background-color: #eaffea;
//   color: #55a532;
// }

// .md-doc .pl-mdr {
//   color: #795da3;
//   font-weight: bold;
// }

// .md-doc .pl-mo {
//   color: #1d3e81;
// }

// .md-doc kbd {
//   display: inline-block;
//   padding: 3px 5px;
//   font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
//   line-height: 10px;
//   color: #555;
//   vertical-align: middle;
//   background-color: #fcfcfc;
//   border: solid 1px #ccc;
//   border-bottom-color: #bbb;
//   border-radius: 3px;
//   box-shadow: inset 0 -1px 0 #bbb;
// }

// .md-doc .task-list-item {
//   list-style-type: none;
// }

// .md-doc .task-list-item + .task-list-item {
//   margin-top: 3px;
// }

// .md-doc .task-list-item input {
//   margin: 0 0.35em 0.25em -1.6em;
//   vertical-align: middle;
// }

// .md-doc :checked + .radio-label {
//   z-index: 1;
//   position: relative;
//   border-color: #4078c0;
// }
