@import "variables"

// Common
:root
  // font
  --sika-title-font: SmileySans-Oblique, system-ui, -apple-system, 'Segoe UI', 'sans-serif', Lobster, Lato
  --sika-code-font: 'FiraCode', 'Inter var experimental', 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto
  --sika-code-font-mono: 'Fira Mono', 'FiraCode', 'DM Serif Display', Roboto, 'sans-serif', Lobster, Lato
  --sika-code-line-hight: 1.7
  --sika-code-font-size: .875em

  --sika-line-numbers-width: 2.5rem

  // icon
  --sika-copy-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 32 32'%3E%3Cpath fill='rgba(128,128,128,1)' d='m27.4 14.7l-6.1-6.1C21 8.2 20.5 8 20 8h-8c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V16.1c0-.5-.2-1-.6-1.4zM20 10l5.9 6H20v-6zm-8 18V10h6v6c0 1.1.9 2 2 2h6v10H12z'/%3E%3Cpath fill='rgba(128,128,128,1)' d='M6 18H4V4c0-1.1.9-2 2-2h14v2H6v14z'/%3E%3C/svg%3E")

  --sika-page-header-height: 4.5rem
  --sika-page-header-height-mobile: 3.5rem
  --sika-post-header-height: 27rem

// Light
:root
  // color
  --sika-page-bg-color: #{transparent}
  --sika-c-page: #{$neutral900}
  --sika-brand-color: #{$sky600}
  --sika-mark-bg-color: #{$yellow300}
  --sika-mark-color: #{$neutral900}

  // table
  --sika-table-border-color: #{$zinc200}
  --sika-table-row-bg-color1: #{$zinc50}
  --sika-table-row-bg-color2: #{$zinc100}
  --sika-table-header-bg-color: #{$zinc100}

  // inline code
  --sika-inline-code-bg-color: #{$slate200}
  --sika-inline-code-color: #{$sky700}

  // code-block
  --sika-code-block-bg-color1: #{$neutral300}
  --sika-code-block-bg-color2: #{$neutral200}
  --sika-code-block-bg-color3: #{$neutral100}
  --sika-code-block-bg-color4: #{mix($zinc200, $slate200, 50%)}

  --sika-code-block-border-color: rgba(0, 0, 0, 0.08)
  --sika-code-block-shadow-color1: rgba(0, 0, 0, 0.05)
  --sika-code-block-shadow-color2: rgba(0, 0, 0, 0.1)

  --sika-code-highlight-color: #{rgba($neutral200, .8)}

  --sika-code-lang-color: #{$black}

  // button
  --sika-button-bg-color1: #{$neutral200}
  --sika-button-bg-color2: #{$gray100}
  --sika-button-bg-color3: #{$neutral50}
  --sika-button-bg-hover-color: #{rgba($neutral200, .4)}

  --sika-line-numbers-text-color: #{$neutral400}
  --sika-line-numbers-bg-color: #{$neutral200}

  // container
  --sika-container-info-border: #{$green300}
  --sika-container-info-bg: #{$green50}
  --sika-container-info-text: #{$green900}

  --sika-container-warning-border: #{$orange300}
  --sika-container-warning-bg: #{$orange50}
  --sika-container-warning-text: #{$orange900}

  --sika-container-tip-border: #{$sky300}
  --sika-container-tip-bg: #{$sky50}
  --sika-container-tip-text: #{$sky900}

  --sika-container-danger-border: #{$red300}
  --sika-container-danger-bg: #{$red50}
  --sika-container-danger-text: #{$red900}

  --sika-container-details-border: #{$neutral300}
  --sika-container-details-bg: #{$neutral50}
  --sika-container-details-text: #{$neutral900}

// Dark
.dark
  // Color
  --sika-c-page-bg: #{mix($zinc800, $slate800, $weight: 50%)}
  --sika-c-page: #{$neutral300}
  --sika-brand-color: #{$sky600}
  --sika-mark-bg-color: #{$yellow600}
  --sika-mark-color: #{$neutral900}

  // table
  --sika-table-header-bg-color: #{$neutral900}
  --sika-table-border-color: rgba(255, 255, 255, 0.06)
  --sika-table-row-bg-color1: #{$neutral900}
  --sika-table-row-bg-color2: #{mix($neutral800, $gray800, 60%)}

  // inline code
  --sika-inline-code-bg-color: #{darken($sky400, 35)}
  --sika-inline-code-color: #{$neutral300}

  // code-block
  --sika-code-block-bg-color1: #{$neutral700}
  --sika-code-block-bg-color2: #{$neutral800}
  --sika-code-block-bg-color3: #{$neutral900}
  --sika-code-block-bg-color4: #{mix($zinc800, $slate800, 50%)}

  --sika-code-block-border-color: rgba(255, 255, 255, 0.08)
  --sika-code-block-shadow-color1: rgba(0, 0, 0, 0.1)
  --sika-code-block-shadow-color2: rgba(0, 0, 0, 0.2)

  --sika-code-highlight-color: #{rgba($black, .8)}

  --sika-code-lang-color: #{$white}

  // button
  --sika-button-bg-color1: #{$neutral700}
  --sika-button-bg-color2: #{$neutral800}
  --sika-button-bg-color3: #{$neutral900}
  --sika-button-bg-hover-color: #{rgba($neutral700, .4)}

  --sika-line-numbers-text-color: #{$neutral500}
  --sika-line-numbers-bg-color: #{mix($neutral800, $slate700, 60%)}

  // container
  --sika-container-info-border: #{$green900}
  --sika-container-info-bg: #{rgba($green900, .4)}
  --sika-container-info-text: #{$green400}

  --sika-container-warning-border: #{$orange800}
  --sika-container-warning-bg: #{rgba($orange800, .4)}
  --sika-container-warning-text: #{$orange400}

  --sika-container-tip-border: #{$sky800}
  --sika-container-tip-bg: #{rgba($sky800, .4)}
  --sika-container-tip-text: #{$sky400}

  --sika-container-danger-border: #{$red800}
  --sika-container-danger-bg: #{rgba($red800, .4)}
  --sika-container-danger-text: #{$red400}

  --sika-container-details-border: #{$neutral600}
  --sika-container-details-bg: #{rgba($neutral800, .4)}
  --sika-container-details-text: #{$neutral400}
