@import "../variables"

:root
  // color
  --sika-brand-color: #{$sky600}
  --sika-mark-bg-color: #{$yellow300}
  --sika-mark-color: #{$neutral900}

  // table
  --sika-table-border-color: #{$zinc200}
  --sika-table-row-bg-color1: #{$zinc50}
  --sika-table-row-bg-color2: #{$zinc100}
  --sika-table-header-bg-color: #{$zinc100}

  // inline code
  --sika-inline-code-bg-color: #{$slate200}
  --sika-inline-code-color: #{$sky700}

  // code-block
  --sika-code-block-bg-color1: #{$neutral300}
  --sika-code-block-bg-color2: #{$neutral200}
  --sika-code-block-bg-color3: #{$neutral100}
  --sika-code-block-bg-color4: #{mix($zinc200, $slate200, 50%)}

  --sika-code-block-border-color: rgba(0, 0, 0, 0.08)
  --sika-code-block-shadow-color1: rgba(0, 0, 0, 0.05)
  --sika-code-block-shadow-color2: rgba(0, 0, 0, 0.1)

  --sika-code-highlight-color: #{rgba($neutral200, .8)}

  --sika-code-lang-color: #{$black}

  // button
  --sika-button-bg-color1: #{$neutral200}
  --sika-button-bg-color2: #{$gray100}
  --sika-button-bg-color3: #{$neutral50}
  --sika-button-bg-hover-color: #{rgba($neutral200, .4)}

  --sika-line-numbers-text-color: #{$neutral400}
  --sika-line-numbers-bg-color: #{$neutral200}

  // container
  --sika-container-info-border: #{$green300}
  --sika-container-info-bg: #{$green50}
  --sika-container-info-text: #{$green900}

  --sika-container-warning-border: #{$orange300}
  --sika-container-warning-bg: #{$orange50}
  --sika-container-warning-text: #{$orange900}

  --sika-container-tip-border: #{$sky300}
  --sika-container-tip-bg: #{$sky50}
  --sika-container-tip-text: #{$sky900}

  --sika-container-danger-border: #{$red300}
  --sika-container-danger-bg: #{$red50}
  --sika-container-danger-text: #{$red900}

  --sika-container-details-border: #{$neutral300}
  --sika-container-details-bg: #{$neutral50}
  --sika-container-details-text: #{$neutral900}
